body{
    margin: 0%;
}

.intro{
    margin: 10px;
    color: white !important;
    text-align: center;
}

.films{
    display: inline-block;
    margin: 0 2.5%;
    width: 100px !important;
    color: white !important;
}

.banner{
    font-weight: 600;
    width: 160px;
}

.card-text{
    font-weight: 600;
}

.details-btn{
    color: black !important;
}