footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5439425770308124) 25%,
    rgba(36, 0, 0, 1) 55%
  );
  color: white;
  text-align: center;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.fbox-flex {
  display: flex;
  margin-left: 666px;
  text-decoration: none !important;
}

.fbox-flex > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.disclaimers {
  color: #fff !important;
  background: transparent !important;
}

.underlinks {
  color: #fff !important;
  text-decoration: none !important;
}
