footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #7d7878;
  color: #fff;
}

.fbox-flex {
  display: flex;
  margin-left: 733px;
}

.fbox-flex > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.disclaimers {
  color: #fff !important;
  background: transparent !important;
}

.underlinks {
  color: #fff !important;
  text-decoration: none !important;
}
