* {
  margin: 0;
  padding: 0;
}

.movie-details {
  margin: 3% 0;
}

body {
  background-image: url(../img/bios_BG.png);
  background-position: center;
  background-size: cover;
}

.inleiding {
  font-size: 18px;
  font-weight: 444;
  border-radius: 5px;
  padding: 7px;
  height: 315px;
  background-color: #ff0000;
  color: azure;
}

.left-box {
  margin-top: 15px !important;
  margin: 15px 0;
  padding: 20px;
  color: #fff;
}

.left-box a {
  text-decoration: none !important;
  border-radius: 30px;
  padding: 7px 15px;
  margin-top: 15px;
  background: #ff0000;
  font-weight: 600;
  display: inline-block;
  margin-right: 450px;
  margin-top: 33px;
}

.info-center {
  font-weight: 500;
  width: 500px;
  height: 350px;
  font-size: 25px;
  margin: 10px;
}

.row {
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  height: 350px;
}

/* buttons */

.inleiding-btn {
  text-decoration: none !important;
  border-radius: 30px;
  padding: 7px 15px;
  margin-top: 15px;
  background: white;
  font-weight: 600;
  display: inline-block;
  margin-right: 450px;
  margin-top: 33px;
}

.bekijk-films-btn {
  text-decoration: none !important;
  border: 3px solid white !important;
  background: white !important;
  color: #ff0000;
}

.ticket-bestelling-btn {
  color: #fff;
  border: 1px solid white !important;
  background: transparent !important;
}

.all-films {
  color: white;
}

/* logo */

.logo {
  width: 150px;
  margin-top: 18px;
}

/* img */

.bios-fotos {
  display: flex;
}

.bios-fotos > p {
  margin: 10px;
}

.theater-img {
  padding: 10px;
  height: 350px;
}

.adres-img {
  padding: 10px;
  height: 350px;
}
