* {
  margin: 0;
  padding: 0;
}

header {
  height: 10%;
  justify-content: space-between;

}

.movie-details {
  margin: 3% 0;
}

body {
  background-image: url(../img/bios_BG.png);
  background-position: center;
  background-size: cover;
}

.inleiding {
  border-radius: 5px;
  padding: 7px;
  height: 315px;
  background-color: #ff0000;
  color: azure;
}

.left-box {
  margin: 15px 0;
  padding: 20px;
  color: #fff;
}

.left-box a {
  text-decoration: none !important;
  border-radius: 30px;
  padding: 7px 15px;
  margin-top: 15px;
  background: #107afd;
  font-weight: 600;
  display: inline-block;
  margin-right: 450px;
  margin-top: 33px;
}

/* buttons */

.header-btn {
  text-decoration: none !important;
  border-radius: 30px;
  padding: 7px 20px;
  float: right;
  margin-top: 15px;
  color: #fff !important;
  background: #107afd;
  font-weight: 600;
}

.bekijk-films-btn{
  border: 3px solid white !important;
  background: white !important;
  color: #ff0000;
}

.ticket-bestelling-btn{
  color: #fff;
  border: 1px solid white !important;
  background: transparent !important;
}

/* img */

.logo {
  width: 150px;
  margin-top: 18px;
}

.left-box > img{
 size: 15px;
}

.theater-img{
  padding: 10px;
  height: 350px;
  box-shadow: -4px 4px 5px 0 #000;
  background: white;
}