body {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: white;
}

.intro {
  margin: 50px;
  color: white !important;
}

.intro > H1,
H4 {
  text-align: center;
}

/* flexbox */

.flex-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  row-gap: 3;
  margin-bottom: 50px;
}

.flex-container > div {
  background-color: #3b0404;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

div > img {
  height: 275px;
  width: 300px;
  margin: 8px;
}

/* bios titels*/

.WO,
.MF,
.LR,
.BH,
.MA,
.LE,
.BR {
  color: white;
}

